<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{> libreriasCSS }}
    <title>Acerca de nosotros</title>
</head>
<body>
    {{> navbar }}
    <h1>Acerca de nosotros</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ut aperiam, esse dignissimos harum mollitia officia suscipit facere minima natus?</p>
    {{> footer }}
    {{> libreriasJS }}
</body>
</html>