<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{> libreriasCSS }}
    <title>Título de la aplicación</title>
</head>
<body>
    {{> navbar }}
    <h1>Login de la aplicación</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos debitis cupiditate nisi, repudiandae quaerat aut, id hic adipisci, quidem beatae in deleniti doloribus reiciendis temporibus ut totam cumque pariatur ab corrupti voluptatum doloremque laboriosam.
        Assumenda consequatur adipisci ipsa distinctio. Sapiente, nam? Est, expedita quaerat explicabo eligendi suscipit doloremque. Quo eius similique quae accusantium aperiam, maiores explicabo sapiente vel possimus aut molestiae corporis, consectetur
        commodi omnis, alias officia culpa vitae debitis totam? Fuga nostrum nam, beatae saepe temporibus asperiores perspiciatis vel numquam. Id sint, sequi sunt omnis numquam repellat nobis ut quos, distinctio doloribus neque fugiat dolorem corrupti
        est rerum necessitatibus aliquid a voluptates sed voluptatum? Laborum tenetur dicta culpa expedita, modi illo error. Aut maiores consequatur, doloremque iusto tempore totam veniam est quibusdam. Nobis tempora aliquid sit provident harum, enim
        veritatis assumenda ipsum autem non ea minus corrupti ad nisi soluta, temporibus quibusdam incidunt aut totam! Minima, ipsum tenetur placeat illo modi enim dolores. Minima itaque nobis quisquam harum eius fugiat dolore, repellat commodi consectetur
        officiis blanditiis eveniet provident ut. Dignissimos deserunt nesciunt asperiores? Perferendis at, dolore pariatur recusandae, voluptate vel tempore distinctio explicabo odio, deserunt officia sint eveniet suscipit doloremque illum magnam. Nulla
        aliquid nesciunt quod laboriosam voluptatem quisquam!</p>
    
    {{> footer }} 
    {{> libreriasJS }}
</body>
</html>